<h1>Bienvenue dans le salon {{ vm.name }} {{ vm.username }} !</h1>
<h3>
  Il y a actuellement
  <ng-pluralize count="vm.nbPlayers" when="{ '1': '1 joueur', 'other': '{} joueurs'  }"></ng-pluralize>.
</h3>

<div ng-if="vm.isLead">
  Quand vous etes prets, vous pouvez lancer le test pour tous les membres du salon.
  <button ng-click="vm.launch()">Lancer</button>
</div>

<br/>
<br/> <!-- lol -->

<h3>Chat</h3>
<input type="text" ng-model="vm.newMessage">
<input type="button" ng-click="vm.sendMessage()" value="Send">
<ul>
  <li ng-repeat="msg in vm.messages">
    <em ng-if="msg.user === 'system'">{{ msg.txt }}</em>
    <span ng-if="msg.user !== 'system'">{{ msg.user }}: {{ msg.txt }}</span>
  </li>
</ul>
