<div class="row">
  <div class="all-full">

    <!-- ========================================================================================= -->
    <!-- =                                     titre                                             = -->
    <!-- ========================================================================================= -->

    <h1 class="room-title">
      {{ vm.name }}
    </h1>

  </div>
</div>

<div class="row flow">
  <div class="desktop-9 tablet-4 mobile-full">

    <div class="row flow">
      <div class="all-full">

        <!-- ========================================================================================= -->
        <!-- =                                     explications                                      = -->
        <!-- ========================================================================================= -->

        <div class="explain-block" ng-if="!vm.gameStarted">

          <h1>Bienvenue dans le salon {{ vm.name }}, {{ vm.username }} !</h1>
          <p class="flow">
            Il y a actuellement
            <ng-pluralize count="vm.nbPlayers" when="{ '1': '1 joueur', 'other': '{} joueurs'  }"></ng-pluralize>.
          </p>

          <div class="flow" ng-if="!vm.gameStarted">
            <div ng-if="vm.isLead">
              <p class="flow">
                Quand vous etes prets, vous pouvez lancer le test pour tous les membres du salon.
              </p>
              <button class="btn btn-plain flow" ng-click="vm.launch()">Lancer</button>
            </div>
            <div ng-if="!vm.isLead">
              <p class="flow">
                En attente de démarrage...
              </p>
            </div>
          </div>

        </div>

        <!-- ========================================================================================= -->
        <!-- =                                     questions                                         = -->
        <!-- ========================================================================================= -->

        <div class="game" ng-if="vm.gameStarted && !vm.gameFinished">

          <div class="the-question flow">
            {{ vm.currentQuestion.text }}
          </div>

          <timer></timer>

          <div class="row flow">
            <div class="desktop-6 tablet-full mobile-full answer"
                 ng-class="{
                   disappear: answer.isNot,
                   isIs: answer.isNot === false
                 }"
                 ng-click="vm.answer(answer)"
                 ng-repeat="answer in vm.currentQuestion.answers">
                {{ answer.text }}
            </div>
          </div>

        </div>

        <!-- ========================================================================================= -->
        <!-- =                                     fin                                               = -->
        <!-- ========================================================================================= -->

        <div class="explain-block" ng-if="vm.gameFinished">
          <p class="flow">
            La partie est terminée.
          </p>
          <ol class="scores flow">
            <li>toto</li>
          </ol>
        </div>

      </div>
    </div>
    <div class="row flow">

      <div class="all-full">

        <!-- ========================================================================================= -->
        <!-- =                                        chat                                           = -->
        <!-- ========================================================================================= -->

        <div class="chat" ng-if="!vm.gameStarted || vm.gameFinished">

          <p class="flow">
            Salon de discussion:
          </p>

          <ul class="flow chat-messages">
            <li ng-repeat="msg in vm.messages">
              <em ng-if="msg.user === 'system'">{{ msg.txt }}</em>
              <span ng-if="msg.user !== 'system'">{{ msg.user }}: {{ msg.txt }}</span>
            </li>
          </ul>

          <form ng-submit="vm.sendMessage()">

            <div class="form-message">
              <div class="form-message--text">
                <input type="text" ng-model="vm.newMessage" placeholder="Ecris ton petit message ici...">
              </div>
              <div class="form-message--submit">
                <button class="btn btn-plain">send message</button>
              </div>
            </div>

          </form>
        </div>

      </div>

    </div>

  </div>
  <div class="desktop-3 tablet-2 mobile-full">

    <!-- ========================================================================================= -->
    <!-- =                                        players                                        = -->
    <!-- ========================================================================================= -->

    <ul class="players-list">
      <li class="player" ng-repeat="player in vm.players | orderBy: '-points'">
        <div class="has-answered">
          <span class="tick"
                ng-class="{
                  valid: player.lastValid,
                  invalid: player.lastValid === false
                }"
                ng-show="player.played">
          </span>
        </div>
        <div class="player-name">
          <span>{{ player.username }}</span> ({{ player.points }})
        </div>
      </li>
    </ul>

  </div>
</div>
