<div class="row">
  <div class="all-full">

    <!-- ========================================================================================= -->
    <!-- =                                     titre                                             = -->
    <!-- ========================================================================================= -->

    <h1 class="room-title">
      {{ vm.name }}
    </h1>

  </div>
</div>

<div class="row flow">
  <div class="desktop-9 tablet-4 mobile-full">

    <div class="row flow">
      <div class="all-full">

        <!-- ========================================================================================= -->
        <!-- =                                     explications                                      = -->
        <!-- ========================================================================================= -->

        <div class="explain-block" ng-if="!vm.gameStarted">

          <h1>Bienvenue dans le salon {{ vm.name }}, {{ vm.username }} !</h1>
          <p class="flow">
            Il y a actuellement
            <ng-pluralize count="vm.nbPlayers" when="{ '1': '1 joueur', 'other': '{} joueurs'  }"></ng-pluralize>.
          </p>

          <div class="flow" ng-if="!vm.gameStarted">
            <p class="flow" ng-if="vm.isLead">
              Quand vous etes prets, vous pouvez lancer le test pour tous les membres du salon.
            </p>
            <button class="btn btn-plain flow" ng-click="vm.launch()">Lancer</button>
          </div>

        </div>

        <div class="game" ng-if="vm.gameStarted && !vm.gameFinished">

          <timer></timer>

          <div class="explain-block flow">
            {{ vm.currentQuestion.text }}
          </div>

          <div class="row flow">
            <div class="desktop-6 tablet-full mobile-full answer"
                 ng-click="vm.answer(answer)"
                 ng-repeat="answer in vm.currentQuestion.answers">
                {{ answer.text }}
            </div>
          </div>


        </div>

      </div>
    </div>
    <div class="row flow">

      <div class="all-full">

        <!-- ========================================================================================= -->
        <!-- =                                        chat                                           = -->
        <!-- ========================================================================================= -->

        <div class="chat" ng-if="!vm.gameStarted || vm.gameFinished">

          <ul class="flow chat-messages">
            <li ng-repeat="msg in vm.messages">
              <em ng-if="msg.user === 'system'">{{ msg.txt }}</em>
              <span ng-if="msg.user !== 'system'">{{ msg.user }}: {{ msg.txt }}</span>
            </li>
          </ul>

          <form ng-submit="vm.sendMessage()">

            <div class="form-message">
              <div class="form-message--text">
                <input type="text" ng-model="vm.newMessage" placeholder="Ecris ton petit message ici...">
              </div>
              <div class="form-message--submit">
                <button class="btn btn-plain">send message</button>
              </div>
            </div>

          </form>
        </div>

      </div>

    </div>

  </div>
  <div class="desktop-3 tablet-2 mobile-full">

    <!-- ========================================================================================= -->
    <!-- =                                        players                                        = -->
    <!-- ========================================================================================= -->

    <ul class="players-list">
      <li class="player" ng-repeat="player in vm.players">
        <div class="has-answered">
          <span class="tick" ng-show="player.played"></span>
        </div>
        <div class="player-name">
          {{ player.username }}
        </div>
      </li>
    </ul>

  </div>
</div>
