<div class="row">
  <div class="all-full">

    <h1 class="quizz-master center">
      {{ vm.quizz.name }}
    </h1>

    <div class="code center soft flow">
      &lt;choix de la partie⁄&gt;
    </div>

    <div class="row flow">
      <div class="desktop-4 tablet-half mobile-full">

        <div class="flow">
          <input class="input-text" type="text" ng-model="vm.name"/>
          <button ng-click="vm.createRoom()">Creer une partie</button>
        </div>

      </div>
    </div>

    <div class="flow">

      <p ng-if="!vm.rooms.length" class="blue">
        Aucune partie en cours, créez la votre ?
      </p>

      <div ng-click="vm.switchRoom(room.id)" ng-repeat="room in vm.rooms" class="quizz-room">
        <h3>{{ room.name }}</h3>
        <p>avec {{ room.nbPlayers }} <ng-pluralize count="room.nbPlayers" when="{ '0': 'joueurs', '1': 'joueur', 'other': 'joueurs' }"></ng-pluralize></p>
      </div>

    </div>

  </div>
</div>
