@import "fonts";
@import "variables";

@import "top-bar";
@import "full-pane";
@import "button";
@import "choose-block";
@import "quizz";
@import "profile";
@import "chat";
@import "room";

* {
  box-sizing: border-box;
}

body {
  font-family: 'normetica', monospace;
  font-size: 16px;
  line-height: 24px;
  transition: 1s ease-out background-color;
  background-color: $yellow2;
  &.main {
    background-color: darken(white, 5);
  }
}

.flow + .flow {
  margin-top: 2em;
}

a {
  color: inherit;
}

button {
  font: inherit;
  cursor: pointer;
  outline: none;
  &:disabled {
    cursor: default;
  }
}

hr {
  margin: 3em auto;
  border: none;
  border-bottom: 4px dotted rgba(black, .5);
}

.code {
  color: rgba(black, .7);
  font-size: 28px;
}

.fb-connect {
  display: table;
  align-items: center;
  justify-content: center;
  background: $blue1;
  padding: 12px 18px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  @media (max-width: $mobile) {
    font-size: 18px;
  }
  &:disabled {
    transition: transform 100ms ease-out;
    background: $c-fb-light;
    transform: scale(.9);
  }
  > i {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
    font-size: 50px;
  }
  > span {
    display: table-cell;
    vertical-align: middle;
  }
}

.login-bloc {
  text-align: center;
  padding-bottom: 5em;

  hr {
    width: 50%;
  }
  > header {
    padding: 0 0 60px 0;
    @media (max-width: $mobile) {
      img {
        height: 150px !important;
      }
    }
  }
  .code {
    margin-bottom: 1.5em;
  }

  .fb-connect {
    margin: 0 auto;
  }

  .logo {
    height: 300px;
  }

  .sub-logo {
    margin-top: 8em;
  }

  p {
    margin-top: 1.5em;
  }

}

.view {
  padding-top: 9em;
  &.ng-enter {
    -webkit-transition:150ms ease-out all;
    transition:150ms ease-out opacity;
    opacity:0;
  }
  &.ng-enter.ng-enter-active {
    top:0;
    opacity:1;
  }
}

.text-small {
  font-size: 13px;
}

.giant-icon {
  font-size: 250px;
  line-height: 250px;
}

.block {
  display: block;
}

.hello-icon {
  height: 259px;
  display: inline-block;
}

.dotted-title {
  text-align: center;
  font-size: 1.5em;
  margin: 1.5em auto 2.5em auto;
  > span {
    color: $c-dark;
  }
}

.explain-block {
  background: $blue3;
  padding: 1em;
  border: 1px solid rgba(white, .5);
  box-shadow: rgba(black, .3) 0 2px 3px;
}

.center {
  text-align: center;
}
