@import "fonts";
@import "variables";

@import "top-bar";
@import "full-pane";
@import "button";
@import "choose-block";
@import "quizz";

* {
  box-sizing: border-box;
}

body {
  font-family: 'normetica', monospace;
  font-size: 16px;
  line-height: 24px;
  transition: 500ms ease-out background-color;
  background-color: $yellow2;
  &.main {
  }
}

.flow + .flow {
  margin-top: 2em;
}

a {
  color: inherit;
}

button {
  font: inherit;
  cursor: pointer;
  outline: none;
  &:disabled {
    cursor: default;
  }
}

hr {
  margin: 3em auto;
  border: none;
  border-bottom: 4px dotted rgba(black, .5);
}

.code {
  color: rgba(black, .7);
  font-size: 28px;
}

.fb-connect {
  display: table;
  align-items: center;
  justify-content: center;
  background: $blue1;
  padding: 12px 18px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  &:disabled {
    transition: transform 100ms ease-out;
    background: $c-fb-light;
    transform: scale(.9);
  }
  > i {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
    font-size: 50px;
  }
  > span {
    display: table-cell;
    vertical-align: middle;
  }
}

.login-bloc {
  text-align: center;
  padding-bottom: 5em;

  hr {
    width: 50%;
  }
  > header {
    padding: 130px 0 60px 0;
  }
  .code {
    margin-bottom: 1.5em;
  }

  .fb-connect {
    margin: 0 auto;
  }

  .logo {
    height: 300px;
  }

  .sub-logo {
    margin-top: 8em;
  }

  p {
    margin-top: 1.5em;
  }

}

.view {
  &.ng-enter {
    -webkit-transition:100ms ease-out all;
    transition:100ms ease-out opacity;
    opacity:0;
  }
  &.ng-enter.ng-enter-active {
    top:0;
    opacity:1;
  }
}

.text-small {
  font-size: 13px;
}

.giant-icon {
  font-size: 250px;
  line-height: 250px;
}

.block {
  display: block;
}

.hello-icon {
  height: 259px;
  display: inline-block;
}

.dotted-title {
  font-size: 1.5em;
  margin-bottom: 1.5em;
  > span {
    color: $c-dark;
  }
}
