@import "variables";

.quizz {
  padding: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  background: $blue3;
  &:hover {
    background: $blue2;
    h1 {
      color: $yellow2;
    }
  }
  h1 {
    font-weight: bold;
  }
}

.quizz-tag {
  padding: 2px 5px;
  margin: 0 2px 2px 0;
  background-color: white;
  font-size: 13px;
}

.quizz-room {
  border: 1px solid black;
  margin: 0 10px;
  cursor: pointer;
  & + .quizz-room {
    margin-top: 5px;
  }
  &:hover {
    background-color: #0067ce;
    color: white;
  }
}
