@import "variables";

.room-title {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  margin: 0 auto 2em auto;
}

.players-list {

  .player {

    display: table;

    .has-answered, .player-name {
      display: table-cell;
      vertical-align: middle;
    }

    .has-answered {

      width: 20px;

      .tick {
        display: block;
        width: 10px;
        height: 10px;
        background: $blue2;
        border-radius: 50%;
        &.valid {
          background: $green1;
        }
        &.invalid {
          background: $red1;
        }
      }

    }

    .player-name {
      span {
        background: $blue3;
        padding: .2em .5em;
      }
    }

  }

}

.timer-bar {
  display: block;
  margin: 0 auto 1em auto;
  background: red;
  box-shadow: rgba(black, .3) 0 2px 1px;
  border-bottom: 1px solid rgba(white, .8);
  transform-origin: top left;
  .timer-bar--progress {
    transition: 250ms ease-in-out width;
    background: $blue3;
    height: 5px;
  }
}

.answer {
  cursor: pointer;
  background: rgba(white, .4);
  border: 1px solid rgba(white, .9);
  padding: 1em;
  margin-bottom: 1em;
  &:hover, &.isIs {
    background: rgba(black, .7);
    color: white;
    border-color: black;
  }
  &.valid {
    background: #008000;
  }
  &.invalid {
    background: red;
  }
  &.disappear {
    opacity: 0;
    transition: 150ms ease-out all;
    transform: translateY(30px);
    cursor: default;
  }
}

.scores {
  list-style: decimal;
  margin-left: 40px;
}

.the-question {
  padding: 1em;
  border: 1px dashed rgba(black, .4);
  border-radius: 5px;
  background: white;
}
