.stats-list {
  width: 100%;

  > li {

    display: table;
    width: 100%;

    .index, .content {
      display: table-cell;
      vertical-align: middle;
    }

    .index {
      width: 50px;
    }

    .content {

      .name, .points {
        display: inline-block;
      }

      .points {
        text-align: right;
        float: right;
        width: 100px;
      }

    }

  }

}
