@import "variables";

.top-bar {

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 4em;
  padding: 1em;

  &.ng-enter {
    transition: 300ms ease-out all;
    transform: translateY(-100px);

    &.ng-enter-active {
      transform: translateY(0);
    }
  }

  &.ng-leave {
    transition: 300ms ease-out all;
    transform: translateY(0);

    &.ng-leave-active {
      transform: translateY(-100px);
    }
  }

  ul {
    display: inline-block;

    li {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .nav-right {
    float: right;
  }
  .logo {
    margin-right: 1em;
  }
}

.side-user {
  position: relative;
  height: 50px;
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-shadow: rgba(black, .6) 0 2px 3px;
    cursor: pointer;
    &:hover, &.active {
      border-color: lighten(#000000, 25);
    }
  }
  .menu {
    z-index: 9999;
    display: block;
    position: absolute;
    width: 200px;
    background: white;
    border: 1px solid rgba(black, .1);
    right: 0;
    top: 80px;
    text-align: right;
    > li {
      display: block;
      a {
        text-decoration: none;
        display: block;
        width: 100%;
        padding: .5em;
        &:hover {
          background: $c-dark;
          color: white;
        }
      }
    }
  }
}

.logo-link {
  height: 50px;
}
