$c-fb       : rgb(59,89,152);
$c-fb-light : rgb(139,157,195);
$c-dark     : lighten(black, 20);

$blue1      : #3f51b5;
$blue2      : #7986cb;
$blue3      : #c5cae9;

$yellow1    : #ffeb3b;
$yellow2    : #fff176;
$yellow3    : #fff9c4;

$green1     : #689F38;

$red1       : #F4511E;

$mobile: 750px;
