<div class="row flow-half">
  <div class="desktop-half tablet-half mobile-full">
    <div class="choose-block solo" ng-click="vm.navigateTo('/solo')">
      <div class="content">

        <div class="code">
          &lt;solo&frasl;&gt;
        </div>

        <img src="assets/images/perso-alone.svg" alt=""/>

        <div class="code bottom">
          &lt;entraine-toi&frasl;&gt;
        </div>

      </div>
    </div>
  </div>
  <div class="desktop-half tablet-half mobile-full">
    <div class="choose-block multi" ng-click="vm.navigateTo('/multi')">
      <div class="content">

        <div class="code">
          &lt;multijoueur&frasl;&gt;
        </div>

        <img src="assets/images/perso-together.svg" alt=""/>

        <div class="code bottom">
          &lt;affronte tes amis&frasl;&gt;
        </div>

      </div>
    </div>
  </div>
</div>
<div class="row flow-half">
  <div class="all-full">

    <div class="choose-block classement" ng-click="vm.navigateTo('/stats')">
      <div class="content">

        <div class="code">
          &lt;classement&frasl;&gt;
        </div>

        <i class="icon-graph"></i>

        <div class="code bottom">
          &lt;mesure toi&frasl;&gt;
        </div>

      </div>
    </div>

  </div>
</div>
