@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-4ogtne');
	src:url('fonts/icomoon.eot?#iefix-4ogtne') format('embedded-opentype'),
		url('fonts/icomoon.woff?-4ogtne') format('woff'),
		url('fonts/icomoon.ttf?-4ogtne') format('truetype'),
		url('fonts/icomoon.svg?-4ogtne#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-smile:before {
	content: "\e600";
}

.icon-facebook:before {
	content: "\ea8d";
}

