<div class="row">
  <div class="all-half" style="background: red">
    cooucou
  </div>
</div>

<form ng-submit="vm.createQuizz()">

  <h3>Nom</h3>
  <input type="text" placeholder="name" ng-model="vm.newQuizz.name">

  <hr>

  <h3>Tags</h3>
  <ul>
    <li ng-repeat="tag in vm.newQuizz.tags">{{ tag }}</li>
  </ul>
  <input type="text" ng-model="vm.newTag">
  <input type="button" ng-click="vm.addTag()" value="ajouter">

  <hr>

  <h3>Questions</h3>
  <div ng-repeat="question in vm.newQuizz.questions">

    <h6>{{ question.text }}</h6>
    <ul>
      <li ng-repeat="question in vm.newQuizz.questions">{{ question }}</li>
    </ul>

  </div>
  <div ng-if="!vm.newQuizz.questions.length">Aucune question pour le moment</div>

  <label>
    Intitule
    <textarea ng-model="vm.newQuestion.text" placeholder="Markdown"></textarea>
  </label>

  <label class="block">
    Duree
    <input type="number" ng-model="vm.newQuestion.time" placeholder="Time">
  </label>

  <ul>
    <li ng-repeat="answer in vm.newQuestion.answers">{{ answer.text }} ({{ answer.isOk }})</li>
  </ul>

  <div>
    <label>
      Reponse
      <input type="text" ng-model="vm.newAnswer.text" placeholder="answer">
      isOk: <input type="checkbox" ng-model="vm.newAnswer.isOk">
    </label>
    <input type="button" ng-click="vm.addAnswer()" value="ajouter cette reponse">
  </div>

  <input type="button" ng-click="vm.addQuestion()" value="ajouter cette question">

  <hr>

  <input type="submit">


</form>
