<div class="row">
  <div class="all-full admin">

    <form ng-submit="vm.createQuizz()">

      <div class="code center flow">
        &lt;créer un quizz⁄&gt;
      </div>

      <div class="flow">

        <h3>Nom du quizz</h3>
        <input class="input-text" type="text" placeholder="name" ng-model="vm.newQuizz.name">

      </div>

      <div class="flow">

        <h3>Tags</h3>

        <ul>
          <li class="quizz-tag" ng-repeat="tag in vm.newQuizz.tags">{{ tag }}</li>
        </ul>

        <input type="text" class="input-text" ng-model="vm.newTag" placeholder="tag">
        <button type="button" class="btn btn-plain" ng-click="vm.addTag()">
          ajouter
        </button>

      </div>

      <div class="flow">

        <h3>Questions</h3>

        <div ng-repeat="question in vm.newQuizz.questions">
          <h6>{{ question.text }}</h6>
        </div>

        <div ng-if="!vm.newQuizz.questions.length">Aucune question pour le moment</div>

        <div class="segment-block">

          <textarea class="input-text" ng-model="vm.newQuestion.text" placeholder="Texte de la question" rows="5"></textarea>

          <label class="block">
            Duree
            <input type="number" ng-model="vm.newQuestion.time" placeholder="Time">
          </label>

          <ul>
            <li ng-repeat="answer in vm.newQuestion.answers">{{ answer.text }} ({{ answer.isOk }})</li>
          </ul>

          <div class="segment-block">
            <input type="text" ng-model="vm.newAnswer.text" placeholder="answer" class="input-text">
            isOk: <input type="checkbox" ng-model="vm.newAnswer.isOk">
            <button class="btn btn-plain" ng-click="vm.addAnswer()" type="button">ajouter cette reponse</button>
          </div>

          <button type="button" class="btn btn-plain" ng-click="vm.addQuestion()">
            Ajouter la question
          </button>

        </div>

      </div>

      <button type="submit" class="btn btn-plain flow">
        Enregistrer le quizz
      </button>


    </form>

  </div>
</div>
