<div class="row">
  <div class="all-full centered">

    <section class="login-bloc">
      <header>
        <img class="logo" src="assets/images/sigle-qodex.svg" alt="" fade-when="ui.isLogging" y="-20"/>
      </header>

      <div class="code" fade-when="ui.isLogging" y="-20">
        &lt;hello!&frasl;&gt;
      </div>

      <fb-connect></fb-connect>

      <hr fade-when="ui.isLogging" y="+20"/>

      <button class="btn" ng-show="vm.shadowIndex < 3" ng-click="vm.incrementShadow()" fade-when="ui.isLogging" y="+20">
        {{ vm.getShadowText() }}
      </button>
      <fb-connect ng-show="vm.shadowIndex >= 3"></fb-connect>

      <div class="sub-logo" fade-when="ui.isLogging" y="+20">
        <img width="150" class="sublogo" src="assets/images/logo-qodex.svg" alt=""/>
        <div class="text-small">*the code dexterity</div>
        <p>par</p>
        <p>
          <a target="_blank" class="link" href="http://www.voyageursducode.fr">www.voyageursducode.fr</a>
        </p>
      </div>

    </section>

  </div>
</div>
